/* mf-autocomplete */
.mf-autocomplete-container {
    position: relative;
}
.mf-autocomplete-container > input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    height: 36px;
}
.mf-autocomplete-container > .input-group-addon {
    vertical-align: top; 
    padding-top: 9px;
}
.mf-autocomplete-list {
    position: absolute;
    top: 36px;
    z-index: 100;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
    background-color: white;
}
.mf-autocomplete-list > ul {
    border: 4px solid white;
    margin-top: -3px;
    margin-bottom: 0px;
    box-shadow: none;
}
.mf-autocomplete-selection-list {
    position: relative;
    margin-top: 36px;
    width: 100%;
}
.mf-selected-list {
    margin-bottom: 0px;
}
.mf-icon-border {
    position: absolute;
    right: 5px;
    background-color: white;
    border-radius: 10px;
    border: solid 5px white;
    top: 5px;
}
.mf-fully-clickable {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* mf-video-player */
.mf-video-player {
    background-color:black;
    color: white; 
    width:840px;
    height:400px;
    margin-top:10px; 
}
.mf-video-player-container {
    border: 1px solid #AAA; 
    border-radius:10px;
    height:480px;
    padding: 10px;
    margin: 10px 0px;
}

/* Analyzer */
.info-text-title {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #777;
    color: #000;
}

.info-text {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: #006dcc;
    padding-right: 10px;
}

/* mf tag tree */
.mf-tag-tree-container {
    width:100%; 
    padding: 8px 0;
}

.mf-tag-tree-container > ul > li > a:focus {
    opacity: 0.5;
}

.mf-tag-tree-container .tree-overflow-content {
    overflow-y: scroll; 
    overflow-x: hidden; 
    height: 500px;
}
.mf-highlight {
    box-shadow: 0px 0px 4px 2px magenta;
}
/* tag tree overrides */
.tree-toggler {
    width: 100%;
    padding: 5px 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
}
/* level root */
.nav > li.lvl-0 {
    opacity: 1;
}
.nav > li.lvl-0:hover {
    
}
/* level 1 */
.nav > li.lvl-1 {
    opacity: 0.95;
    text-shadow: 1px 1px #333;
}
.nav > li.lvl-1:hover {
    
}
/* level 2 */
.nav > li.lvl-2 {
    opacity: 0.9;
    text-shadow: 1px 1px #333;
}
.nav > li.lvl-2:hover {
    
}
/* level 3 */
.nav > li.lvl-3 {
    opacity: 0.85;
    padding-left: 5px;
    text-shadow: 1px 1px #333;
}
.nav > li.lvl-3:hover {
    opacity: 0.8;
}


